/* Global styles */
body {
    margin: 0;
    padding: 0;

	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	line-height: 1.5;
	font-weight: 400;
	font-size: 1rem;

	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
}
html {
	/* For view transition between tabs */
	--viewTransitionTabWidth: 15vw;

	--font-space: "Space Mono","Courier New",monaco,monospace;
}
*, html {
    scroll-behavior: smooth !important;
}
a, .modal-open-button {
	text-decoration: underline;
	text-decoration-color: transparent;
	color: var(--link-fg-color);
	transition: .2s ease-in-out;
	cursor: pointer;
}
a:hover, .modal-open-button:hover {
	text-decoration-color: var(--link-fg-color);
}
span.modal-open-button-disable:hover {
	text-decoration-color: transparent;
}

b {
	font-weight: 700;
}

/* Set default text sizes */
input {
	font-size: 1rem;
}

/* Notification styling */
div.toastify {
	align-items: center;
	display: flex;
	border-radius: 8px;

	padding-bottom: 16px;
	padding-left: 16px;
}

div.toastify span.content {
	margin-right: 8px;
	display: flex;
	align-items: center;
}
div.toastify span.icon {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	margin-top: 2px;
}

body .notification-error-dark, body .notification-success-dark {
	background: #121212;
	color: #fff;
	border: 1px solid rgba(181, 200, 255, 0.25);
	box-shadow: 3px 2px 18px -2px rgba(176, 169, 255, 0.45);
}
body .notification-error-dark div.toast-progress-bar-bg, body .notification-success-dark div.toast-progress-bar-bg {
	background: transparent !important;
}
body .notification-error-dark div.toast-progress-bar-bg div.toast-progress-bar {
	background: #e74c3c !important;
}
body .notification-success-dark div.toast-progress-bar-bg div.toast-progress-bar {
	background: #4aa850 !important;
}

body .notification-error-light, body .notification-success-light {
	background: #fff;
	color: #000;
	border: 1px solid rgba(173, 176, 187, 0.65);
	box-shadow: 3px 2px 18px -2px rgba(114, 103, 242, 0.56);
}
body .notification-success-light div.toast-progress-bar-bg div.toast-progress-bar {
	background: #17db24 !important;
}


/* Use absolute width and height so we can use 100% in the tree */
#content {
	width: 100%;
	height: 100%;
}

/* Global variables */
:root {
	--nav-height: 40px;
}
@media(max-width: 955px) {
	:root {
		--nav-height: 38px;
	}
}

.theme-cust-dark, div.dark {
	color-scheme: dark;
	
	/** Primary foreground color for text */
	--main-fg-color: rgb(241, 241, 241);
	--main-fg-color-rgb: 241, 241, 241;
	--main-fg-light-color: rgb(200, 200, 200);
	--main-fg-lighter-color: rgb(165, 165, 165);
	--main-fg-thin-color: rgb(130, 130, 130);
	--link-fg-color: #3986e4;
	--fg-success: rgb(0, 228, 0);

	/** Background color */
	--main-bg-color: #1A1C1D;
	--main-bg-lighter-color: #1e2430;
	--main-bg-light-color: #2d3442;
	--main-bg-darker-color: #141414;
	--main-bg-dark-color: #0c0c0c;
	--main-bg-chart: #040810;

	/** Border color for text fields **/
	--border-color: #4e4a4a;
	--border-lighter-color: #413d3d;

	/** Foreground accent colors that can be used */
	--accent-blue: #3c89e8;
	--accent-blue-light: #1c8da6;
	--accent-green: #3b837d;
	--accent-green-light: #2caa5c;
	--accent-green-background: #05330e;
	--accent-orange: #f09d32;
	--accent-red: #ff5353;

	/** Basic styling of elements */
	color: var(--main-fg-color);
	background-color: var(--main-bg-color);
}

.theme-cust-light, div.light {
	color-scheme: light;

	/** Primary foreground color for text */
	--main-fg-color: rgb(5, 5, 5);
	--main-fg-color-rgb: 5, 5, 5;
	--main-fg-light-color: rgb(45, 45, 45);
	--main-fg-lighter-color: rgb(80, 80, 80);
	--main-fg-thin-color: rgb(110, 110, 110);
	--link-fg-color: #005a86;
	--fg-success: rgb(0, 139, 0);

	/** Background color */
	--main-bg-color: #eceff0;
	--main-bg-lighter-color: #f7f7f7;
	--main-bg-light-color: #fff;
	--main-bg-darker-color: #fff;
	--main-bg-dark-color: #e1d9d9;
	--main-bg-chart: var(--main-bg-light-color);

	/** Border color for text fields **/
	--border-color: #a49595;
	--border-lighter-color: #bdb1b1;

	/** Foreground accent colors that can be used */
	--accent-blue: #0a78ff;
	--accent-blue-light: #1c8da6;
	--accent-green: #3b837d;
	--accent-green-light: #2caa5c;
	--accent-green-background: #82dd94;
	--accent-orange: #f09d32;
	--accent-red: #ff5353;

	/** Basic styling of elements */
	color: var(--main-fg-color);
	background-color: var(--main-bg-color);
}

/* Global view transition for modal */
@keyframes fade-in {
	from { opacity: 0; }
}

@keyframes fade-out {
	to { opacity: 0; }
}

::view-transition-old(fade-it) {
	animation: none;
}
::view-transition-new(fade-it) {
	animation: 400ms ease-in-out both fade-in;
}

/* Global view transitions for tabs */
@keyframes fade-in {
	from { opacity: 0; }
}

@keyframes fade-out {
	to { opacity: 0; }
}

@keyframes slide-from-right {
	from { 
		/* We cannot use transform + translate because there would be a white spot */
		border-left: var(--viewTransitionTabWidth) solid var(--main-bg-color);
	}
	to {
		border-left: 0 solid var(--main-bg-color);
	}
}

@keyframes slide-to-left {
	from {
		border-right: 0 solid var(--main-bg-color);
		transform: translateX(0);
	}
	to { 
		/* transform: translateX(-90px); */
		border-right: var(--viewTransitionTabWidth) solid var(--main-bg-color);
		transform: translateX(calc(var(--viewTransitionTabWidth) * -1));
	}
}

@keyframes slide-to-right {
	from {
		border-left: 0 solid var(--main-bg-color);
		transform: translateX(0);
	}
	to { 
		/* transform: translateX(-90px); */
		border-left: var(--viewTransitionTabWidth) solid var(--main-bg-color);
		transform: translateX(calc(var(--viewTransitionTabWidth) * 1));
	}
}

@keyframes slide-from-left {
	from { 
		/* We cannot use transform + translate because there would be a white spot */
		border-right: var(--viewTransitionTabWidth) solid var(--main-bg-color);
		transform: translateX(calc(var(--viewTransitionTabWidth) * -1));
	}
	to {
		border-right: 0 solid var(--main-bg-color);
		transform: translateX(0);
	}
}

::view-transition-old(slide-right){
	/* Duration | Timing function | Delay | Fill mode | Animation name */
	animation:  300ms cubic-bezier(0.4, 0, 1, 1) 100ms both fade-out,
				400ms cubic-bezier(0.4, 0, 1, 1)          0ms slide-to-left;
	mix-blend-mode: normal;
}
::view-transition-new(slide-right) {
	/* Duration | Timing function | Delay | Fill mode | Animation name */
	animation:  250ms cubic-bezier(0, 0, 0.2, 1) 250ms both fade-in,
				250ms cubic-bezier(0, 0, 0.2, 1)                250ms both  slide-from-right;
	mix-blend-mode: normal;
}

::view-transition-old(slide-left){
	/* Duration | Timing function | Delay | Fill mode | Animation name */
	animation:  300ms cubic-bezier(0.4, 0, 1, 1) 100ms both fade-out,
				400ms cubic-bezier(0.4, 0, 1, 1)           0ms slide-to-right;
	mix-blend-mode: normal;
}
::view-transition-new(slide-left) {
	/* Duration | Timing function | Delay | Fill mode | Animation name */
	animation:  250ms cubic-bezier(0, 0, 0.2, 1) 250ms both fade-in,
				250ms cubic-bezier(0, 0, 0.2, 1)                250ms both  slide-from-left;
	mix-blend-mode: normal;
}

/* Add simple tooltip support */
[data-tooltip]::after {
	display: block;
	position: absolute;
	content: attr(data-tooltip);
	border: 1px solid var(--main-fg-color);
	border-radius: 4px;
	background: var(--main-bg-darker-color);
	padding: .25em;

	opacity: 0;
	z-index: -1;
	transition: .2s .1s ease-in-out;
	overflow: hidden;

	margin-bottom: -1rem;
}
[data-tooltip]:hover::after, [data-tooltip].hover::after {
	z-index: 100;
	opacity: 1;
}