&.header {
	padding: 2px;
	z-index: 10;
	height: calc(var(--nav-height) - 4px);
	top: 0;

	background-color: var(--main-bg-darker-color);
	/* border-bottom: 1px solid rgba(55,198,255,.17); */

	position: relative; 
	margin: 0;

	transition: all .3s ease-in-out;

	display: flex;
	align-items: center;
}

/** Right icon container */
&#header div.right svg {

	height: calc(var(--nav-height) - 10px);
	width: calc(var(--nav-height) - 10px);
	margin-right: 9px;
	
	color: var(--main-fg-light-color);

	transition: .2s ease-in;
}
@media (hover: hover) {
	&#header div.right svg:hover {
		color: var(--accent-blue);
		cursor: pointer;
	}
}


/* Left banner */
&#header .banner {
	width: 94px;
}
&.header img {
	height: calc(100% - 8px);
	padding: 3px;
	padding-top: 6px;
	align-self: left;
}

/* Center navs */
&.header div.center {
	text-align: center;
	height: 100%;
	flex-grow: 1;
	margin-right: 8px;

	flex-direction: row;
	display: flex;
	width: fit-content;
	align-items: center;
	justify-content: center;
}

/* Tabs */
&.header .navbar-item {
	position: relative;

	font-family: var(--font-space);
	font-weight: 600;

	transition: all .3s ease-in-out;
	letter-spacing: 0.04rem;
	font-size: 1rem;
	text-decoration: none;
	line-height: var(--nav-height);
	margin-top: -2px;

	color: #686facc0;
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	height: var(--nav-height);

	display: flex;
	align-items: center;
	flex-direction: row;
	width: fit-content;
}
@media (hover: hover) {
	&#header .navbar-item:hover {
		background-color: rgba(10, 53, 53, .3);
	}
}

/* Adjust tab icons */
&#header .navbar-item svg {
	height: calc(100% - 7px);
	padding: 3px;
	padding-top: 4px;
	margin-right: .5rem;

	color: var(--main-fg-thin-color);
}
&#header .navbar-item .workout svg {
	height: 100%;
	padding: 0;
}
&#header .navbar-item .dashboard svg {
	padding-top: 5px;
}
&#header .navbar-item span.nav-icon {
	height: calc(100% - 8px);
	display: inline-block;
}

/* Tab is selected */
&#header .navbar-item[data-selected="true"] svg {
	color: var(--main-fg-light-color);
}
&#header .navbar-item[data-selected="true"]::after, &#header .navbar-item[data-selected-temp="true"]::after {
	background: rgba(19, 128, 95, .40);
	width: calc(100% - 28px);
	opacity: 0;
}
&#header .navbar-item[data-selected="true"]  {
	color: #898fca;
}
@media (hover: hover) {
	&#header .navbar-item:hover {
		color: #898fca;
	}
}

/* Add underline bar on hoover */
&#header .navbar-item::after {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;

	/* Center it and set hight to zero to get a "unfold" animation */
	width: 0%;
	height: 2px;

	background: rgba(19, 128, 95, .8);
	opacity: 10;
	content: "";

	margin: auto;
	transition: all .2s ease-in-out;
}
@media (hover: hover) {
	&#header .navbar-item:hover::after {
		width: 100%;
		opacity: 100;
		background: rgba(19, 128, 95, .8);
	}
}


&#header-mobile {
	display: none;
}
@media (max-width: 955px) {
	&#header span.text {
		display: none;
	}

	&#header .navbar-item[data-selected="true"]::after, &#header .navbar-item[data-selected-temp="true"]::after {
		background: rgba(19, 128, 95, .40);
		width: calc(100% - 8px);
		opacity: 1;
	}
	&#header .navbar-item[data-selected-temp="hide"]::after {
		width: 0%;
	}

	&#header .navbar-item {
		padding-inline: 8px;
		margin-bottom: 2px;
	}

	&#header .navbar-item svg {
		margin-right: .1rem;
	}

	&#header div.right svg {
		margin-right: 6px;
	}
}
