<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Allow access to health sensors -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.health.READ_HEART_RATE" />

    <!-- Track location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Because of an bug in android health client. This permission is needed when using phone GPS and leaving activity (because of altitude?) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- Foreground service to gather step metrics and activity indicator -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" tools:ignore="HighSamplingRate" />

    <!-- Send notification -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Get the current network state and allow internet access -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Turn on WLAN automatically -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- Schedule exact alarms -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- To start activities from background service -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Other permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.TURN_SCREEN_ON" />

    <!-- Enable wet mode -->
    <uses-permission android:name="com.google.android.clockwork.settings.WATCH_TOUCH" />
    <uses-permission android:name="com.google.android.clockwork.settings.END_WET_MODE" />

    <!-- Communication with RPdb -->
    <uses-permission android:name="de.rpjosh.rpdb.testandroid.customizations.CONNECTIVITY" />
    <uses-permission android:name="de.rpjosh.rpdb.android.customizations.CONNECTIVITY" />

    <application
        android:name="de.rpjosh.rpout.android.RPout"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Main activity -->
        <activity
            android:name="de.rpjosh.rpout.android.activities.main.MainActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/Theme.RPout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Not logged in activity -->
        <activity
            android:name="de.rpjosh.rpout.android.activities.main.NotLoggedInActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting">
        </activity>

        <!-- Be active activity -->
        <activity
            android:name="de.rpjosh.rpout.android.activities.services.NotActiveActivity"
            android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/MainActivityTheme.Starting">
        </activity>

        <!-- Workout activities -->
        <activity
            android:name="de.rpjosh.rpout.android.activities.main.WorkoutStartActivity"
            android:exported="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting">
        </activity>
        <activity
            android:name="de.rpjosh.rpout.android.activities.main.WorkoutTrackingActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting">
        </activity>
        <activity
            android:name="de.rpjosh.rpout.android.activities.main.WorkoutFinishedActivity"
            android:exported="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting">
        </activity>

        <!-- Record steps in the background -->
        <service
            android:name="de.rpjosh.rpout.android.services.StepRecordingService"
            android:foregroundServiceType="health"
            android:permission="com.google.android.wearable.healthservices.permission.PASSIVE_DATA_BINDING"
            android:exported="true"/>
        <!-- Activity -->
        <service
            android:name="de.rpjosh.rpout.android.workout.WorkoutTrackService"
            android:foregroundServiceType="health|location">
        </service>

        <!-- Autostart -->
        <receiver
            android:name="de.rpjosh.rpout.android.Autostart"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Receive messages from phone -->
        <service android:name="de.rpjosh.rpout.android.services.DataSyncListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />

                <!-- @TODO listen only for specific events with android:path="/myPath" -->
                <data android:scheme="wear" android:host="*"/>
            </intent-filter>
        </service>

        <!-- Activity check -->
        <receiver
            android:name="de.rpjosh.rpout.android.services.ActivityCheckerAlarm"
            android:enabled="true"
            android:exported="false" />

        <!-- Step count complication -->
        <service
            android:name=".complication.StepComplicationDataService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/complication_step_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />

            <!-- Update frequency set to 6 minutes -->
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="360" />
        </service>

        <!-- Tiles -->
        <service
            android:name=".tiles.PaiTile"
            android:exported="true"
            android:label="@string/tile_pai_label"
            android:description="@string/tile_pai_description"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">

            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <!-- Preview tile -->
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/pai_tile" />
        </service>

    </application>

</manifest>