<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Allow access to the step sensor -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <!-- Foreground service to gather step metrics and activity indicator -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS " />

    <!-- Send notification -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Get the current network state and allow internet access -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Allow vibrating the device -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Other permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="de.rpjosh.rpout.android.RPout"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Main activity -->
        <activity
            android:name="de.rpjosh.rpout.android.activities.main.MainActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Not logged in activity -->
        <activity
            android:name="de.rpjosh.rpout.android.activities.main.NotLoggedInActivity"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@style/MainActivityTheme.Starting">
        </activity>

        <service
            android:name="de.rpjosh.rpout.android.services.StepRecordingService"
            android:foregroundServiceType="health"
            android:exported="false"/>

        <!-- Autostart -->
        <receiver
            android:name="de.rpjosh.rpout.android.Autostart"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Receive messages from phone -->
        <service android:name="de.rpjosh.rpout.android.services.DataSyncListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />

                <!-- @TODO listen only for specific events with android:path="/myPath" -->
                <data android:scheme="wear" android:host="*"/>
            </intent-filter>
        </service>

    </application>

</manifest>