&.theme-cust-light {
	--bar-background-color: #c4b4b4;
	--bar-border-color: #6f6969;
	--bar-foreground-color: #80ea86;
}

&.theme-cust-dark {
	--bar-background-color: rgb(87, 83, 83);
	--bar-border-color: rgb(22, 22, 22);
	--bar-foreground-color: #057761;
}

/* Workout details styling */
.workout-details {

	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	row-gap: 10px;

	/* Chart doesn't calculate correctly if width > 2500px */
	max-width: 2400px;

	margin-bottom: 50px;
	margin-inline: 6px;

	/* Styling of header */
	.header {

		display: flex;
		margin: .5rem;
		margin-inline: .8rem;
		margin-bottom: 0;
		width: 100%;

		.left, .right {
			flex: 1;
		}
		.left, .center .right {
			width: 100%;
		}

		.left {
			display: flex;
			align-items: center;
			
			svg {
				height: 1.7rem;
			}
	
			h3 {
				display: inline-block;
				margin: 0;
				margin-left: .7rem;
			}
		}

		.right {

			display: flex;
			justify-content: end;
			align-items: center;

			--icon-height: 1.35rem;

			.edit, .delete {
				display: flex;
				justify-content: center;
				margin-left: .6rem;

				cursor: pointer;
			}

			svg {
				width: calc(var(--icon-height));
				height: calc(var(--icon-height));

				opacity: .8;
				transition: .2s ease-in-out;
			}
			svg:hover {
				opacity: 1;
			}

			.edit svg { color: var(--accent-orange) }
			.delete svg { color: var(--accent-red) }
		}

	}

	/** Summary */
	.summary {
		width: 420px;

		background-color: var(--main-bg-lighter-color);
		padding: 12px;
		padding-right: 3px;
		padding-left: 14px;
		margin-inline: 6px;

		border-radius: 10px;
		border: 1px solid var(--border-color);
		box-shadow: 2px 1px 4px 3px rgba(176, 169, 255, 0.4);

		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
		row-gap: .8rem;

		font-size: 1.05rem;
		box-sizing: border-box;

		/* Use a flex for header to */
		.header-row {
			display: flex;
			align-items: flex-start;

			.title {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-wrap: wrap;
				row-gap: .3rem;
			}

			.text {
				margin-right: .4rem;
			}
		}

		.full-row {
			flex-grow: 1;
			width: 100%;
		}

		.bold {
			font-weight: 900;
			min-width: 4rem;
		}

		.tag {
			font-size: .9rem;
			padding: 1.5px;
			padding-inline: 5px;
			background-color: #1c4f00;
			margin-right: .4rem;
			border-radius: 4px;
			border: 1px solid #aaa;
			font-weight: 600;
		}

		.dot-wrapper {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			margin-right: 10%;

			.workout-symbol {
				width: 2.5rem;
				height: 2.5rem;
				margin-right: 1.5rem;
			}
			
			.text-name {
				margin-left: -1rem;
				margin-right: 1.5rem;
				font-weight: 600;
				font-size: 1.1rem;
			}
		}

		.dot-container {
			display: flex;
			flex-direction: column;
			row-gap: .1rem;

			.dot-row {
				width: 100%;
				
				display: flex;
				align-items: center;
				gap: .6rem;

				svg.dot {
					height: .8rem;
				}
				svg.dotted {
					height: 1.3rem;
				}
			}

			.start-dot {
				color: var(--accent-red);
			}
			.end-dot {
				color: var(--accent-blue);
			}
		}

		.city {
			display: flex;
			align-items: center;

			img {
				height: 1.1rem;
				margin-right: .5rem;
			}
		}

		.summary-detail {
			width: 33%;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: .4rem;

			span.icon {
				width: 1.7rem;
				height: 1.7rem;
			}
			svg {
				width: 1.7rem;
				height: 1.7rem;
			}

			/* Make sure that the icons are always alligned */
			.text {
				width: calc(100% - 3rem);
			}

			/* Make icons and text smaller on mobile */
			@media (max-width: 450px) {
				.text {
					width: calc(100% - 2.5rem);
					font-size: 1.02rem;
				}
			}
		}
	}

	/** Leaflet map */
	.workout-map {
		flex-grow: 1;
		min-height: 350px;
		min-width: 300px;
		margin-bottom: 2px;
		margin-inline: 4px;

		.leaflet-container {
			border-radius: 10px;
			border: 2px solid var(--border-color);
			box-shadow: 2px 1px 4px 3px rgba(176, 169, 255, 0.4);
		}
	}

	/** Km-Stats */
	.km-stats {
		width: 320px;
		height: 350px;
		overflow-y: scroll;

		background-color: var(--main-bg-lighter-color);
		padding: 12px;
		margin-inline: 6px;

		padding-top: 0;

		border-radius: 10px;
		border: 1px solid var(--border-color);
		box-shadow: 2px 1px 4px 3px rgba(176, 169, 255, 0.4);

		.km-point {
			display: flex;
			align-items: center;
			margin-top: 1rem;
			flex-wrap: wrap;

			.km-text {
				min-width: 3.8rem;
			}

			.min, .max, .min-max {
				font-weight: 900;
				font-family: DejaVu Sans;

				height: 1.3rem;
				width: 1.3rem;
				margin-right: .2rem;
			}
			.min {
				color: var(--accent-green);
			}
			.max {
				color: var(--accent-red);
			}

			.bar {
				flex-grow: 1;
				background-color: var(--bar-background-color);
				border-radius: 12px;
				flex-basis: min-content;
				align-self: stretch;
				margin-left: .4rem;
				height: fit-content;
				border: 1px solid var(--bar-border-color);

				/** Correct hoover position for popup while scrolling */
				position: relative;
				[data-tooltip]::after {
					margin-top: 8px;
				}

				span {
					box-sizing: border-box;
					background-color: var(--bar-foreground-color);
					min-width: fit-content;
					height: 100%;
					border-radius: 12px;
					display: inline-block;

					font-size: .85rem;
					font-weight: 600;
					padding: .15rem;
					padding-inline: .6rem;
				}
			}

			.details {
				width: 100%;
				flex-grow: 1;
				margin-top: .2rem;
				margin-bottom: -.3rem;

				/* Indent for up / down arrow */
				margin-left: 1.1rem;

				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				align-content: flex-start;
				row-gap: .8rem;

				.summary-detail {
					width: 33%;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: .4rem;
					color: var(--main-fg-light-color);
		
					span.icon {
						width: 1.2em;
						height: 1.2rem;
					}
					svg {
						width: 1.2rem;
						height: 1.2rem;
					}
		
					/* Make sure that the icons are always alligned */
					.text {
						width: calc(100% - 2.5rem);
						font-size: .94rem;
					}
				}
			}
		}
	}

	/** Helper div to break content to a new row */
	.flex-break {
		height: 0;
		flex-basis: 100%;
	}

	/** Notes */
	.notes {
		width: 420px;
		min-height: 200px;

		align-self: stretch;

		margin-inline: 6px;
		border-radius: 10px;
		border: 1px solid var(--border-color);
		box-shadow: 2px 1px 4px 3px rgba(176, 169, 255, 0.4);

		.EasyMDEContainer .editor-preview-full {
			background: var(--main-bg-lighter-color);
		}
		textarea.easy-mde-note {
			background: var(--main-bg-lighter-color);
		}
	}

	/** Charts */
	.speed-chart {
		flex-grow: 1;
		height: 600px;
		min-width: 400px;

		margin-inline: 6px;
		background-color: var(--main-bg-lighter-color);

		canvas {
			border: 1px solid var(--border-color);
			box-shadow: 2px 1px 4px 3px rgba(176, 169, 255, 0.4);
			border-radius: 12px;
		}
	}
	.speed-chart-smaller {
		height: 500px;
	}

	/** There is too much "space" available */
	@media (min-width: 1400px) {
		margin-top: 4px;
		margin-inline: 20px;
	}
	@media (min-width: 1800px) {
		.summary {
			width: 500px;
		}
		.notes {
			width: 500px;
		}
		.km-stats {
			width: 440px;
			.km-point .km-text {
				min-width: 4.3rem;
			}
		}
	}
	@media (min-width: 2200px) {
		margin-inline: 2vw;
		margin-top: 7px;
	}
	@media (min-height: 1200px) and (min-width: 1300px) {
		.summary, .notes, .km-stats {
			height: calc(100vh - 600px - 180px);
		}
	}

	@media (max-width: 1300px) {
		.flex-break {
			display: none;
		}
		row-gap: 20px;
		.header {
			margin-bottom: -8px;
		}
	}

	@media (max-width: 1200px) {
		.notes {
			flex-grow: 1;
		}
		.km-stats {
			flex-grow: 2;
			max-height: 600px;
		}
		.speed-chart {
			flex-grow: 20;
		}
		.speed-chart > div {
			position: absolute !important;
		}
	}

	@media (max-width: 800px) {
		.summary {
			flex-grow: 1;
		}
	}
	/* Reset min-widths */
	@media (max-width: 600px) {
		.workout-map, .speed-chart {
			min-width: 250px;
		}
		.header .date-workout {
			display: none;
		}
		.summary {
			padding-left: 8px;
			row-gap: .9rem;

			.full-row {
				padding-left: .2rem;
			}

			.summary-detail {
				span.icon {
					width: 1.6rem;
					height: 1.6rem;
					margin-right: .1rem;
				}
				svg {
					width: 1.6rem;
					height: 1.6rem;
				}
			}
		}
	}
}

/* Tabbed layout */
.workout-details-wrapper {
	display: flex;
	align-content: flex-start;
	justify-content: center;

	overflow-y: hidden;
	overflow-x: auto;
	width: calc(var(--elements, 1)*100%);
	transform: translateX(calc(var(--tx, 0px) + var(--currentElementIndex, 0) * -1 * 100vw));

	.tab {
		width: calc(100vw - 12px);
		flex-grow: 1;
		align-self: stretch;
		height: fit-content;
	}

	/* Tabbed layout */
	.tab-2 {
		display: none;
		margin-top: .8rem;
	}
	
	@media (max-width: 800px) {
		.tab-2 {
			display: flex;
		}
		.km-stats {
			max-height: 180vh;
			height: fit-content;
			padding-bottom: 1rem;
		}

		& {
			--elements: 2;
			--currentElementIndex: 0;
		}
	}
}

.smooth { 
	transition: .2s ease-in-out; 
}