#workout-page-overview {
	--margin-top: 4px;

	display: flex;
	flex-direction: column;
	height: calc(100% - var(--margin-top));
	margin-inline: 12px;
	margin-top: var(--margin-top);

	#workout-overview-content {
		min-height: 100px;

		.workout-table {
			overflow-y: auto;
			flex-grow: 1;
			margin-bottom: 1rem;
			padding-bottom: .3rem;
		}
		.workout-table, .workout-info-list {
			height: calc(100% - .8rem - var(--margin-top));
		}
	}
}
@media (min-width: 1700px) {
	#workout-page-overview {
		margin-inline: 3%;
		--margin-top: 10px;
	}
}

div.action-container {
	display: flex;
	gap: .5rem;

	svg {
		width: 1.5rem;
		height: 1.5rem;
		padding: .2rem;
		color: var(--main-fg-light-color);
		transition: .2s ease-in-out;
		cursor: pointer;
	}
	svg:hover {
		color: var(--main-fg-color);
	}

	.new {
		margin-left: auto;
	}

	[data-expanded="true"] svg {
		color: var(--accent-blue);
	}

	#more-options {
		/* Icon is not a block (just a "horizontal line"). Use negative margin to match spacing */
		margin-left: -8px;
	}
}

#workout-overview-map {
	--height: 50vh;

	height: var(--height);
	max-height: 0;
	flex-shrink: 0;
	transition: 350ms ease-in-out;
	overflow: hidden;


	.leaflet-container {
		height: calc( var(--height) - 10px);

		border-radius: 8px;
		border: 1px solid var(--border-color);
	}

	.point-popup {
		.header-leaflet-popup {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		svg {
			width: 1.2rem;
			margin-right: .4rem;
		}

		.title {
			min-width: 3.7rem;
		}
	}
}
#workout-overview-map[data-visible="true"] {
	max-height: 60vh;
}

/** Heart rate colors aren't optimized for light theme */
&.theme-cust-light .workout-table .heartRate {
	font-weight: 900;
}

.workout-table {

	svg.workout-symbol {
		width: 1.9rem;
		height: 1.9rem;
	}

	td.name {
		span[data-tooltip]::after {
			color: var(--main-fg-color);
			border: 1px solid var(--border-color);
			margin-left: 8px;
			margin-top: 5px;
		}
	}
	/* Position tooltip of last element above */
	tbody tr:last-child span[data-tooltip]::after {
		margin-top: -3.5rem;
	} 

	td.location span.wrapper {
		display: flex;
		align-items: center;

		img {
			height: 1.2rem;
			margin-right: .5rem;
		}
	}

	/* Highlight selected row */
	tr[data-highlighted="true"] {
		background-color: var(--accent-green-background);
	}
}

div.workout-info-list {
	display: none;
	overflow-y: auto;
	margin-right: -10px;
	padding-bottom: 10px;

	container-name: list-workout-overview;
	container-type: inline-size;

	.item {
		margin-top: 8px;
		padding: .6rem;
		background-color: var(--main-bg-dark-color);
		border-radius: 10px;
		border: 1px solid var(--border-lighter-color);
		margin-right: 10px;
		color: var(--main-fg-color);

		.header {
			display: flex;
			margin-left: 3px;

			.content {
				display: flex;
				align-items: center;
				gap: .4rem;

				.workout-symbol {
					width: 2.5rem;
					height: 2.5rem;
				}

				.header {
					display: flex;
					flex-direction: column;
					margin-left: .4rem;
					color: var(--main-fg-light-color);

					.name {
						min-width: 4rem;
						font-weight: 600;
					}

					.name-location {
						display: flex;
						align-items: center;
	
						.country-flag {
							margin-left: .8rem;
							margin-right: .4rem;
							width: 1.6rem;
							height: 1.6rem;
						}
					}
				}

			}

			.options {
				color: var(--main-fg-thin-color);
				align-self: center;
				margin-left: auto;

				svg {
					width: 1.2rem;
					height: 1.4rem;
				}
			}
		}

		.stats {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: .8rem;

			[data-tooltip]::after {
				margin-top: 1.5rem;
			}

			.summary-detail {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: .4rem;
	
				span.icon {
					width: 1.7rem;
					height: 1.7rem;
				}
				svg {
					width: 1.7rem;
					height: 1.7rem;
				}
			}
		}

		/* Highlight selected item */
		&[data-highlighted="true"] {
			background-color: var(--accent-green-background);
		}
	}

	@container list-workout-overview (width < 500px) {
		.stats .s  {
			display: none !important;
		}
	}
	@container list-workout-overview (width < 700px) {
		.stats .m  {
			display: none !important;
		}
	}
}

.workout-list-popup {
	display: flex;
	flex-direction: column;
	margin-bottom: 12px;

	row-gap: .3rem;
	.item {
		padding: .2rem;
		cursor: pointer;
		color: var(--main-fg-color);

		.icon {
			color: var(--main-fg-light-color);
			margin-right: .2rem;
		}
	}

	.export-link {
		color: inherit;
	}

	.text {
		transition: .15s ease-in-out;
		text-decoration: underline;
		text-decoration-color: transparent;
	}
	.text:hover {
		text-decoration-color: var(--main-fg-color);
	}
}

@media (max-width: 900px) {
	div.workout-info-list {
		display: grid;
	}
	div.workout-table {
		display: none;
	}
	#workout-page-overview {
		margin-inline: 10px;
	}
}

/* Display workout map beside table */
@media (min-width: 1800px) {
	
	#workout-page-overview {
		flex-wrap: wrap;
		gap: 16px;
		row-gap: 0;
		flex-direction: row;
		align-content: flex-start;

		#workout-overview-map {
			width: 40%;
			height: calc(100% - 2rem);
			--height: calc(100% - 10px);

			.overview-map {
				height: 100%;
			}
		}
		#workout-overview-map[data-visible="true"] {
			max-height: 100vh;
		}

		#workout-overview-content {
			width: 100%;
			max-height: calc(100% - 2rem);
		}

		&:has(#workout-overview-map[data-visible="true"]) #workout-overview-content {
			width: 58%;
		}
	}

}

/* Info box for workout merging */
#merge-info-box-top {
	position: absolute;
	top: 12px;
	left: 0;
	right: 0;
	width: 85%;
	max-width: 700px;
	margin-inline: auto;
	text-align: center;
	font-weight: 600;

	padding: 8px;
	background-color: var(--main-bg-darker-color);
	border-radius: 4px;
	border: 1px solid var(--border-color);
	z-index: 10;
	box-shadow: 2px 1px 4px 3px rgba(176, 169, 255, 0.4);
	transition: .3s ease-in-out;

	.cancel {
		margin-left: .4rem;
		cursor: pointer;
		transition: .2s ease-in-out;
	}
	.cancel:hover {
		color: var(--accent-blue);
	}

	@media (max-width: 900px) {
		& {
			top: -5px;
		}
	}

	&[data-visible="false"] {
		top: calc(var(--nav-height) * -3)
	}

}

