#workout-page-overview {
	--margin-top: 4px;

	display: flex;
	flex-direction: column;
	height: calc(100% - var(--margin-top));
	margin-inline: 12px;
	margin-top: var(--margin-top);

	#workout-overview-content {
		min-height: 100px;

		div.table-wrapper {
			overflow-y: auto;
			flex-grow: 1;
			margin-bottom: .8rem;
			padding-bottom: .3rem;
	
			--border-radius: 8px;
			border: 1px solid var(--border-color);
			border-radius: var(--border-radius);
	
			container-name: tbl-workout-overview;
			container-type: inline-size;
		}
		div.table-wrapper, div.workout-info-list {
			height: calc(100% - .8rem - var(--margin-top));
		}
	}
}
@media (min-width: 1700px) {
	#workout-page-overview {
		margin-inline: 3%;
		--margin-top: 10px;
	}
}

div.action-container {
	display: flex;
	gap: .5rem;

	svg {
		width: 1.5rem;
		height: 1.5rem;
		padding: .2rem;
		color: var(--main-fg-lighter-color);
		transition: .2s ease-in-out;
		cursor: pointer;
	}
	svg:hover {
		color: var(--main-fg-color);
	}

	.new {
		margin-left: auto;
		margin-right: .5rem;
	}

	[data-expanded="true"] svg {
		color: var(--accent-blue);
	}
}

div.search-container {
	height: fit-content;
	width: 100%;
	max-height: 0;
	flex-shrink: 0;
	transition: 350ms ease-in-out;

	--label-width: 10rem;
	--component-width: calc(95% - var(--label-width));

	/*
	width: 90%;
	border-radius: 8px;
	border: 1px solid transparent;
	overflow: scroll;
	*/
	overflow: scroll;

	/* Default input style */
	.line input[type="text"], .line input[type="number"] {
		padding: .5rem;
	
		background-color: var(--main-bg-darker-color);
		border-radius: 4px;
		transition: .2s ease-in;
	
		border: 1px solid var(--border-color);
		outline: none;
	}

	/* Date picker styling */
	.date-picker {
		position: relative;

		.date-picker-clear {
			margin-left: -35px;
			padding: 4px;
			padding-inline: .6rem;
			cursor: pointer;

			color: var(--main-fg-lighter-color);
			transition: .2s ease-in-out;
		}
		.date-picker-clear:hover {
			color: var(--main-fg-color);
		}
	}

	/* Reset style */
	.action-button-container {
		margin-top: 16px;
		margin-bottom: 10px;
		display: flex;
		gap: 8%;
		justify-content: center;

		width: min-content;
		margin-inline: auto;
	}

	/* Form element */
	.line {
		margin-top: 16px;
	}
	form > span:first-child {
		margin-top: 8px;
	}
	.row {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.label {
		width: var(--label-width);
		font-weight: 600;
		height: min-content;
	}
	.line input, .select-container, .comparer-value {
		width: var(--component-width);
		box-sizing: border-box;
	}
	.label::after {
		content: ":";
	}

	/* Value with comparer */
	.comparer-value {
		display: flex;
		gap: .5rem;
	
		.select-container {
			width: 2.5rem;
		}

		input {
			width: 100%;
		}
	}

	@media(max-width: 600px) {
		.action-button-container {
			margin-top: 4px;
			margin-bottom: 5px;
		}

		form > span:first-child {
			margin-top: 3px;
		}
	}

	@media(max-width: 470px) {
		.row {
			flex-wrap: wrap;
		}
	
		.label { 
			width: 100%;
			margin-bottom: .4rem;
		}
		.line input, .select-container, .comparer-value {
			width: 98%;
		}
		.label::after {
			content: "";
		}
	}

	/* Two column layout */
	@media(min-width: 950px) {
		--gap: 30px;

		#workout-search {
			display: flex;
			flex-wrap: wrap;
			gap: var(--gap);
			row-gap: 0;
		}

		.row {
			width: calc(49% - var(--gap) );
		}

		.flex-break {
			height: 0;
			width: 100%;
		}

	}

}
div.search-container[data-visible="true"] {
	max-height: 1000px;
	/*
	max-height: 500px;
	border-color: var(--border-color);
	padding: 8px;
	*/
}
div.search-container[data-visible-delayed="true"] {
	overflow: visible;
}
@media (max-height: 900px) and (max-width: 470px) {
	div.search-container[data-visible-delayed="true"] {
		overflow: scroll;
		max-height: 95dvh;
	}
}

#workout-overview-map {
	--height: 50vh;

	height: var(--height);
	max-height: 0;
	flex-shrink: 0;
	transition: 350ms ease-in-out;
	overflow: hidden;


	.leaflet-container {
		height: calc( var(--height) - 10px);

		border-radius: 8px;
		border: 1px solid var(--border-color);
	}

	.point-popup {
		.header-leaflet-popup {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		svg {
			width: 1.2rem;
			margin-right: .4rem;
		}

		.title {
			min-width: 3.7rem;
		}
	}
}
#workout-overview-map[data-visible="true"] {
	max-height: 60vh;
}

table.workout-info {
	width: 100%;
	overflow-y: scroll;
	position: relative;

	border-spacing: 0;

	.left {
		text-align: left;
	}
	.center {
		text-align: center;
	}
	.right {
		text-align: right;
	}

	/* Make header sticky */
	thead tr th:first-child {
		border-top-left-radius: var(--border-radius);
	}
	thead tr th:last-child {
		border-top-right-radius: var(--border-radius);
	}
	th {
		top: 0;
		position: sticky;
		background-color: var(--main-bg-dark-color);
		padding-top: .4rem;
		padding-bottom: .4rem;
		border-bottom: 1px solid var(--border-color);
		z-index: 1;
	}

	svg.workout-symbol {
		width: 1.9rem;
		height: 1.9rem;
	}

	tr {
		transition: 50ms ease-in-out;
	}
	td {
		padding-top: .3rem;
		padding-bottom: .1rem;
		padding-inline: .4rem;
	}

	tr:nth-child(2n) {
		background-color: var(--main-bg-lighter-color);
	}
	tr:hover {
		background-color: var(--main-bg-light-color)	
	}

	td.name {
		span[data-tooltip]::after {
			color: var(--main-fg-color);
			border: 1px solid var(--border-color);
			margin-left: 8px;
			margin-top: 5px;
		}
	}
	/* Position tooltip of last element above */
	tbody tr:last-child span[data-tooltip]::after {
		margin-top: -3.5rem;
	} 

	td.location span.wrapper {
		display: flex;
		align-items: center;

		img {
			height: 1.2rem;
			margin-right: .5rem;
		}
	}

	td.action .wrapper {
		--icon-height: 1.35rem;

		display: flex;
		justify-content: end;
		align-items: center;

		.edit, .delete {
			display: flex;
			justify-content: center;

			cursor: pointer;
		}

		svg {
			width: calc(var(--icon-height));
			height: calc(var(--icon-height));

			opacity: .8;
			transition: .2s ease-in-out;
		}
		svg:hover {
			opacity: 1;
		}

		.edit svg { color: var(--accent-orange) }
		.delete svg { color: var(--accent-red); }
		.delete {
			margin-left: .6rem;
			margin-right: .3rem;
		}
	}

	th.center, td.text-center {
		text-align: center;
	}

	@container tbl-workout-overview (width < 1300px) {
		td.xxl, th.xxl {
			display: none;
		}
	}
	@container tbl-workout-overview (width < 1100px) {
		td.xl, th.xl {
			display: none;
		}
	}
}

div.workout-info-list {
	display: none;
	overflow-y: auto;
	margin-right: -10px;
	padding-bottom: 10px;

	container-name: list-workout-overview;
	container-type: inline-size;

	.item {
		margin-top: 8px;
		padding: .6rem;
		background-color: var(--main-bg-dark-color);
		border-radius: 10px;
		border: 1px solid var(--border-lighter-color);
		margin-right: 10px;
		color: var(--main-fg-color);

		.header {
			display: flex;
			margin-left: 3px;

			.content {
				display: flex;
				align-items: center;
				gap: .4rem;

				.workout-symbol {
					width: 2.5rem;
					height: 2.5rem;
				}

				.header {
					display: flex;
					flex-direction: column;
					margin-left: .4rem;
					color: var(--main-fg-lighter-color);

					.name {
						min-width: 4rem;
						font-weight: 600;
					}

					.name-location {
						display: flex;
						align-items: center;
	
						.country-flag {
							margin-left: .8rem;
							margin-right: .4rem;
							width: 1.6rem;
							height: 1.6rem;
						}
					}
				}

			}

			.options {
				color: var(--main-fg-thin-color);
				align-self: center;
				margin-left: auto;

				svg {
					width: 1.2rem;
					height: 1.4rem;
				}
			}
		}

		.stats {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: .8rem;

			[data-tooltip]::after {
				margin-top: 1.5rem;
			}

			.summary-detail {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: .4rem;
	
				span.icon {
					width: 1.7rem;
					height: 1.7rem;
				}
				svg {
					width: 1.7rem;
					height: 1.7rem;
				}
			}
		}
	}

	@container list-workout-overview (width < 500px) {
		.stats .s  {
			display: none !important;
		}
	}
	@container list-workout-overview (width < 700px) {
		.stats .m  {
			display: none !important;
		}
	}
}

.workout-list-popup {
	display: flex;
	flex-direction: column;

	row-gap: .3rem;
	.item {
		padding: .2rem;
		cursor: pointer;
		color: var(--main-fg-color);

		.icon {
			color: var(--main-fg-lighter-color);
			margin-right: .2rem;
		}
	}
}

@media (max-width: 900px) {
	div.workout-info-list {
		display: grid;
	}
	div.table-wrapper {
		display: none;
	}
	#workout-page-overview {
		margin-inline: 10px;
	}
}

/* Display workout map beside table */
@media (min-width: 1800px) {
	
	#workout-page-overview {
		flex-wrap: wrap;
		gap: 16px;
		row-gap: 0;
		flex-direction: row;
		align-content: flex-start;

		#workout-overview-map {
			width: 40%;
			height: calc(100% - 2rem);
			--height: calc(100% - 10px);

			.overview-map {
				height: 100%;
			}
		}
		#workout-overview-map[data-visible="true"] {
			max-height: 100vh;
		}

		#workout-overview-content {
			width: 100%;
			max-height: calc(100% - 2rem);
		}

		&:has(#workout-overview-map[data-visible="true"]) #workout-overview-content {
			width: 58%;
		}
	}

}