/* Details and workout popup */
.workout-map, .overview-map {
	.point-popup {

		display: inline-block;
		z-index: 1000;

		.header-leaflet-popup {
			display: inline-block;
			width: 100%;
			text-align: center;
			font-weight: 900;
			margin-bottom: .15rem;
		}

		.title {
			font-weight: 900;
			min-width: 3.7rem;
		}
		.title::after {
			content: ":";
			padding-right: .25rem;
		}

		.row {
			margin-top: .05rem;
			display: flex;
		}
	}
}