#settings-automation-tag {

	.contentWrapper > .content {
		max-height: 60vh;
	}

	.addButton {
		width: 24px;
		height: 24px;
	}

	.modal-open-button {
		color: var(--main-fg-color);
		transition: .1s ease-in-out;
	}
	.modal-open-button:hover {
		color: var(--link-fg-color);
	}

	.section .content {
		padding: 0;
	}

	.tableWrapper {
		margin: 0;
		padding: 0;
		border: 0;
	}

	table {
		td {
			padding-top: .5rem;
			padding-bottom: .5rem;
		}

		.tag {
			padding: 2px 6px;
			border-radius: 4px;
			border: 1px solid var(--border-lighter-color);

			cursor: pointer;
		}
	}
}

#settings-automation-tag-id {
	max-width: 600px;
	margin-inline: auto;

	@media(max-width: 600px) {
		margin-inline: 6px;
	}

	@media(max-width: 470px) {
		margin-top: 10px;
		margin-inline: 12px;
	}
}