#workout-statistics {
	margin-top: 4px;

	@media (min-width: 724px) {
		margin-inline: 12px;
	}

	overflow-y: scroll;
	height: 100%;
  	display: flex;
  	flex-flow: row;
	flex-wrap: wrap;
}

&.theme-cust-dark {
	--workout-type-background: #463f3f;
	--workout-type-selected: #082d68;
}
&.theme-cust-light {
	--workout-type-background: #cec6c6;
	--workout-type-selected: #72a3f2;
}

div.action-container {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	justify-content: center;

	margin-top: 4px;
	margin-bottom: 6px;

	@media(max-width: 500px) {
		/** It looks better when all the types are starting from a new line on small screens */
		.gap-types {
			width: 100%;
		}
	}

	svg {
		width: 1.8rem;
		height: 1.8rem;
		padding-inline: .2rem;
		color: var(--main-fg-lighter-color);
		transition: .2s ease-in-out;
		cursor: pointer;
	}
	svg:hover {
		color: var(--main-fg-color);
	}
	.unit svg {
		width: 2.1rem;
	}

	.new {
		margin-left: auto;
		margin-right: .5rem;
	}

	[data-expanded="true"],[data-selected="true"] svg {
		color: var(--accent-blue);
	}

	.workout {
		width: 2.2rem;
		height: 2.2rem;

		background-color: var(--workout-type-background);
		border-radius: 1rem;

		display: flex;
		align-items: center;
		justify-content: center;

		transition: 0.2s ease-in-out;
		opacity: 0.75;

		svg {
			width: 1.6rem;
			height: 1.6rem;

			color: inherit !important;
		}
	}

	.workout:hover {
		opacity: 1 !important;
	}

	.workout[data-selected="true"] {
		background-color: var(--workout-type-selected);
		opacity: 0.9;
	}
}

.date-selection {
	position: absolute;
	display: flex;
	align-items: center;
  	justify-content: center;
  	gap: .4rem;

	margin-inline: auto;
	left: 0;
	right: 0;
	margin-top: 8px;

	input {
		padding: .3rem;
	
		background-color: var(--main-bg-darker-color);
		border-radius: 4px;
		transition: .2s ease-in;
	
		border: 1px solid var(--border-color);

		font-size: 1rem;
		width: 7rem;
		text-align: center;
	}
	input:focus {
		outline: none;
		border-color: var(--accent-green);
	}

	svg {
		width: 1.8rem;
		height: 1.8rem;
		padding: .2rem;
		color: var(--main-fg-light-color);
		transition: .2s ease-in-out;
		cursor: pointer;
	}
	svg:hover {
		color: var(--accent-blue);
	}
}

.date-selection-wrapper {
	position: relative;
	width: 100%;
	height: 4px;
	z-index: 1;
}

.graph {
	width: 100%;
	/** So two charts fits nicely on a 1920x1080 screen */
	height: 425px;
}

#workout-statistic-graph-data {
	width: 100%;
	margin-bottom: 12px;

	margin-top: 3px;
	background-color: var(--main-bg-chart);
	border-radius: 8px;
	box-shadow: 3px 2px 18px -2px rgba(176, 169, 255, 0.45);
}

/** Loading animation while request is done */
#workout-search-icon-loading.htmx-request svg {
	color: var(--accent-green);
	animation: colorPulse 1.5s infinite;
}

@keyframes colorPulse {
	0%   { color: var(--accent-green); }
	50%  { color: var(--accent-orange) }
	100% { color: var(--accent-green); }
}
