&.theme-cust-dark {
	--success-bg-color: #111a2c;
	--success-border-color: #15325b;
}

&.theme-cust-light {
	--success-bg-color: #d8eff7;
	--success-border-color: #3681ea;
}

#settings-token-overview {
	width: 95vw;
	max-width: 800px;
	margin-inline: auto;
	height: 100%;
	margin-top: 8px;

	div.action-container {
		display: flex;
		align-items: center;
		gap: .5rem;

		svg {
			width: 1.5rem;
			height: 1.5rem;
			padding: .2rem;
			color: var(--main-fg-light-color);
			transition: .2s ease-in-out;
			cursor: pointer;
		}
		svg:hover {
			color: var(--main-fg-color);
		}

		span.icon {
			height: 1.6rem;
		}

		.new {
			margin-left: auto;
			margin-right: .5rem;
		}
	}

	.token-copy-container {
		&[data-visible="false"] {
			display: none;
		}

		display: flex;
		align-items: center;
		gap: 1rem;
		flex-grow: 1;

		border-radius: 6px;
		padding: .5rem;
		border: 1px solid var(--success-border-color);
		background-color: var(--success-bg-color);
		font-size: 1.03rem;

		.icon svg {
			color: #1668dc;
		}

		&[data-copied="false"] {
			.check {
				display: none;
			}
		}

		&[data-copied="true"] {
			.copy {
				display: none;
			}
		}

		span.icon-copy {
			cursor: pointer;

			display: flex;
			align-items: center;
			justify-content: center;

			width: 1.8rem;
			height: 1.8rem;
			border-radius: 1.1rem;
			padding: .3rem;

			border: 1px solid var(--border-color);
			background-color: var(--main-bg-darker-color);

			svg {
				width: 1.3rem;
				height: 1.3rem;
			}

			margin-right: 10px;
			margin-left: auto;
		}
	}

}

#settings-token-create {

	max-width: 800px;
	margin-inline: auto;
	width: 100%;
	margin-top: 30px;

	/* Form element */
	.line {
		margin-top: 16px;
	}

	.row {
		display: flex;
		flex-direction: row;
	}

	.line input[type="text"] {
		padding: .5rem;

		background-color: var(--main-bg-darker-color);
		border-radius: 4px;
		transition: .2s ease-in;

		border: 1px solid var(--border-color);
	}
	.line input:focus {
		outline: none;
		border-color: var(--accent-green);
	}
	.line input {
		width: 100%;
	}

	.label {
		width: 20%;
		font-weight: 600;
	}
	.label::after {
		content: ":";
	}

	@media(max-width: 470px) {

		margin-top: 10px;
		margin-inline: 12px;
		.row {
			flex-direction: column;
		}

		.label {
			width: 100%;
			margin-bottom: .4rem;
		}
		.line input {
			width: 100%;
		}
		.label::after {
			content: "";
		}
	}

	.post-button {
		margin-top: 45px;
		width: 60%;
		max-width: 400px;
	}
}