& {
	padding: 10px;
}

#dashboard-page {
	height: fit-content;
	width: 100%;

	display: flex;
	flex-wrap: wrap;

	row-gap: 12px;
	gap: 15px;
}

div.tile {
	width: 350px;
	height: 120px;

	padding: 20px;
	border-radius: 10px;
	background-color: var(--main-bg-lighter-color);
	border: 1px solid var(--border-lighter-color);
}
div.tile-small {
	width: 150px;
}
@media (max-width: 450px) {
	& {
		padding: 6px;
		padding-top: 10px;
	}

	& div.tile {
		width: 100%;
		padding: 16px;
	}
	& div.tile-small {
		width: calc(50vw - 12px - 32px - 4px);
	}
}

div.pai {

	display: flex;
	align-items: center;

	/* Current PAI score */
	.pai-indicator {
		--size: 60px;
		--font-size: 22px;

		position: relative;
		display: flex;
		justify-content: center;
		align-content: center;
		width: var(--size);
		height: var(--size);

		svg {
			width: var(--size);
			height: var(--size);
			position: absolute;

			path {
				fill: url(#dark-gradient);
				stroke: #27d7be;
				stroke-width: 5px;
			}
		}

		.text {
			position: relative;
			font-size: var(--font-size);
			font-weight: 900;
			align-self: center;
		}
	}
	.pai-indicator-small {
		--size: 32px;
		--font-size: 12px;

		.text {
			font-weight: 400;
		}

		svg path {
			stroke-width: 4px;
			stroke: #40bdaa;
		}
	}
	.pai-indicator-small[data-earned="false"] {
		svg path {
			fill: var(--border-color);
			stroke: #697775;
		}
	}

	.content {
		margin-left: auto;
		padding-left: 15px;
		gap: 0;
		display: flex;

		.day {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			/* Bar style */
			.bar-wrapper {
				width: 100%;
				margin-top: .4rem;
				margin-bottom: .2rem;
			}
			.bar {
				height: 65px;
				width: 10px;
				border-radius: 10px;
				margin-inline: auto;

				background-color: var(--border-color);
				overflow: hidden;
				position: relative;

				.bar-filler {
					background-color: #81b3b3;
					width: 100%;
					position: absolute;
					bottom: 0;
				}
				.bar-filler[data-over100="true"] {
					background-color: #81b381;
				}
			}

			.weekday {
				color: var(--main-fg-lighter-color);
				font-size: 14px;
			}
		}

	}

}

div.steps {
	display: flex;
	gap: 20px;
	align-items: center;

	.progress {
		position: relative;
		width: 100%;
		display: flex;

		svg.circle {
			margin-inline: auto;
			.bg {
				stroke-width: 5px;
				stroke: #535353;
				fill: var(--main-bg-dark-color);
			}
			.fg {
				stroke-width: 5px;
				stroke: #119d69;
				transition: stroke-dashoffset .7s ease;

				// Umfang des Kreises
				stroke-dasharray: 346;
				stroke-dashoffset: 346;
				// Start at 12 o'clock
				transform: rotate(-90deg);
            	transform-origin: 50% 50%;
				stroke-linecap: round;
			}
		}

		.text-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			row-gap: 3px;

			.icon {
				width: 1.6rem;
				height: 1.5rem;
				flex-grow: 1;
			}

			.text {
				width: 100%;
				text-align: center;
			}

			position: absolute;
			left: 50%;
			top: 48%;
			transform: translate(-50%, -50%);
			font-size: 22px;
			font-weight: bold;

			.text-weekly {
				font-size: .9rem;
				color: var(--main-fg-thin-color);
			}
		}
	}
}