h1 {
	font-size: 3.2vw;
	text-align: center;
	padding-inline: 10px;
}
@media(max-width: 700px) {
	h1 {
		font-size: 1.8rem !important;
	}
}
@media(min-width: 1300px) {
	h1 {
		font-size: 3rem !important;
	}
}
h1.for-for {
	font-family: "Space Mono","Courier New",monaco,monospace;
	font-size: 4vw;
	color: #481edf;
}

div.center {
	margin: 25px;
	margin-top: 40px;
	max-width: 1200px;
	margin-inline: auto;

	margin-bottom: 60px;
}
div.text {
	margin-top: 40px;
	padding-inline: 20px;
	font-size: 1.03rem;
}